{% extends 'base.html' %}

{% block title %}
Nx-Auto | WI 
{% endblock %}


{% block content %}
    <div class="grid-links">
        <div class="smartEye-links">
            <div class = "links-container">
                <div class="links-sub-container">
                    <h1>Smart Eyes</h1>
                    <h3>Body</h3>
                    <div>
                        <a href="http://#########0/history.html" target="_blank">EB01
                            <div class="smt-name">FMR OUT</div>
                        </a>
                        <a href="http://#########1/history.html" target="_blank">EB02
                            <div class="smt-name">SBL OUT</div>
                        </a>
                        <a href="http://#########2/history.html" target="_blank">EB03
                            <div class="smt-name">RL1 IN</div>
                        </a>
                        <a href="http://#########3/history.html" target="_blank">EB04
                            <div class="smt-name">METAL IN</div>
                        </a>
                        <a href="http://#########4/history.html" target="_blank">EB05
                            <div class="smt-name">BMID</div>
                        </a>
                        <a href="http://#########5/history.html" target="_blank">EB06
                            <div class="smt-name">METAL OUT</div>
                        </a>
                        <a href="http://#########6/history.html" target="_blank">EB07
                            <div class="smt-name">WBS OUT</div>
                        </a>
                        <a href="http://10.91.120.18/history.html" target="_blank">EB08
                            <div class="smt-name">SBL IN</div>
                        </a>
                        <a href="http://#########05/history.html" target="_blank">EB09
                            <div class="smt-name">WBS IN</div>
                        </a>
                        <a href="http://#########06/history.html" target="_blank">EB10
                            <div class="smt-name">FM OUT</div>
                        </a>
                        <a href="http://#########07/history.html" target="_blank">EB11
                            <div class="smt-name">FMR OUT</div>
                        </a>
                        <a href="http://#########08/history.html" target="_blank">EB12
                            <div class="smt-name">FMRO</div>
                        </a>
                        <a href="http://#########11/history.html" target="_blank">EB13
                            <div class="smt-name">RL2 IN</div>
                        </a>
                        <a href="http://#########10/history.html" target="_blank">EB14
                            <div class="smt-name">RL2 OUT</div>
                        </a>
                        <a href="http://#########09/history.html" target="_blank">EB15
                            <div class="smt-name">BMII</div>
                        </a>
                        <a href="http://#########26/history.html" target="_blank">EB16
                            <div class="smt-name">CWBS IN</div>
                        </a>
                    </div>
                    <h3>Paint</h3>
                    <div>
                        <a href="http://#########8/history.html" target="_blank"> EP01
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########0/history.html" target="_blank"> EP03
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########1/history.html" target="_blank"> EP04
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########2/history.html" target="_blank"> EP05
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########3/history.html" target="_blank"> EP06
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########4/history.html" target="_blank"> EP07
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########5/history.html" target="_blank"> EP08
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########6/history.html" target="_blank"> EP09
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########7/history.html" target="_blank"> EP10
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########8/history.html" target="_blank"> EP11
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########9/history.html" target="_blank"> EP12
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########0/history.html" target="_blank"> EP13
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########1/history.html" target="_blank"> EP14
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########2/history.html" target="_blank"> EP15
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########3/history.html" target="_blank"> EP16
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########4/history.html" target="_blank"> EP17
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########9/history.html" target="_blank"> EP18
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########5/history.html" target="_blank"> EP19
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="" target="_blank"> EP21-
                            <div class="smt-name">#########</div>
                        </a>
                    </div>
                    <h3>PBS</h3>
                    <div>
                        <a href="http://#########6/history.html" target="_blank"> ET01
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########7/history.html" target="_blank"> ET02
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########8/history.html" target="_blank"> ET03
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########6/history.html" target="_blank"> ET04
                            <div class="smt-name">#########</div>
                        </a>
                        <a href="http://#########7/history.html" target="_blank"> ET05
                            <div class="smt-name">#########</div>
                        </a>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="systems-links">
            <div class="links-container">
                <div class="links-sub-container">
                    <h1>Systems</h1>
                </div>
            </div>
        </div>
        <div class="vncVPD-links">
            <div class="links-container">
                <div class="vnc-links-sub-container">
                    <h1>VPD X VNC</h1>
                    
                </div>
            </div>
        </div>
        <div class="vncPcData-links">
            <div class="links-container">
                <div class="vnc-links-sub-container">
                    <h1>PC - Data X VNC</h1>
                </div>
            </div>
        </div>
    </div>
    <script>
        function CopyDataToClipboard(id){
            var copyText = document.getElementById(id)
            copyText.select();
            copyText.setSelectionRange(0, 100)
            navigator.clipboard.writeText(copyText.value)
            alert('IP copied to clipboard!')
        }
    </script>
{% endblock %}